<launch>

  <param name="robot_description" textfile="$(find exotica_json)/resources/lwr_simplified.urdf" />
  <param name="robot_description_semantic" textfile="$(find exotica_json)/resources/lwr_simplified.srdf" />

  <node pkg="ompl_param_tune" type="ompl_param_tune_action_node" name="OMPLTuneNode" output="screen">
    <param name="config" type="string" value="$(find ompl_param_tune)/resources/ompl_solver_config.xml" />
    <param name="solver" type="string" value="OMPL Interface" />
    <param name="problem" type="string" value="OMPLProblem" />
  </node>
</launch>
